<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675547859775-gq627a9e6lmhmt6je3rsufcnn90gkko1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675547859775-gq627a9e6lmhmt6je3rsufcnn90gkko1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>675547859775-tgd0b3cu1tcgr47sdnbtnpl6ec8qq8ug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBicPYydg78RpPm9zkQIszGMLPdsmInP-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>675547859775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skynet.xengon.mobile</string>
	<key>PROJECT_ID</key>
	<string>xengon-tech</string>
	<key>STORAGE_BUCKET</key>
	<string>xengon-tech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675547859775:ios:fa1106a7a5d38e4633618a</string>
	<key>DATABASE_URL</key>
	<string>https://xengon-tech.firebaseio.com</string>
</dict>
</plist>