<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>vi_VN</string>
	<key>CFBundleDisplayName</key>
	<string>Xe Ngon</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>xengonapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xengonapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>5NPx6iM4jJxvndtQmOrSN-2xMm_qRVI-zaxQY</string>
	<key>CodePushPublicKey</key>
	<string>-----BEGIN PUBLIC KEY-----
  MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs2AHq/k+fdr8hCFynJK/
  1cwOPXgLgthGI3trqg+shOHEOAiqa8W9eWCgBCKuxKti3sxy4wFb035zkGmb2eio
  oZA7aqItNvrQo0Yoi2mEKp+ULilJzxR9JLv7DE68bBvlRyyy0pb61kM1wKkYwV+2
  mMpmiLnBsHcRflppOm4pAXK3MwodjZnM5wJaA4w2al3S14Ti/xPZ+SL8qqxPaGQv
  nR4Vbu6A/t6F/a5kzRbl9DTfRNB7ZTx2HfZWWb7KpybsMmx8hCuhFTuEelXxyYjw
  ST2KuxydomNFir3jF4daT1CmiLU/37brKF2yDICX3Y6nxwz6jg5zLDznzYz6QP7Q
  QwIDAQAB
  -----END PUBLIC KEY-----
</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the react-native-permissions library, which references this permission in its code.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the react-native-permissions library, which references this permission in its code.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the react-native-permissions library, which references this permission in its code.</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) muốn sử dụng máy ảnh của bạn</string>
	<key>NSContactsUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the react-native-permissions library, which references this permission in its code.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) muốn sử dụng toạ độ của Anh/Chị để hỗ trợ Anh/Chị đặt hàng</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) muốn sử dụng toạ độ của Anh/Chị để hỗ trợ Anh/Chị đặt hàng</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) muốn sử dụng toạ độ của Anh/Chị để hỗ trợ Anh/Chị đặt hàng</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the react-native-permissions library, which references this permission in its code.</string>
	<key>NSMotionUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the react-native-permissions library, which references this permission in its code.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) muốn lưu hình ảnh vào thư viện của bạn</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) muốn truy cập thư viện của bạn</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the react-native-permissions library, which references this permission in its code.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Medium.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Semibold.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>montserrat_medium.ttf</string>
		<string>nunito_bold.ttf</string>
		<string>nunito_extrabold.ttf</string>
		<string>nunito_italic.ttf</string>
		<string>nunito_regular.ttf</string>
		<string>nunito_semibold.ttf</string>
		<string>sf_ui_display_semibold.otf</string>
		<string>Fontisto.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
